---

---

<footer class="border-t border-primary/50 bg-background mt-24">
  <div class="flex flex-col items-center p-4">
    <div
      class="w-full max-w-2xl flex flex-col sm:flex-row py-2 items-center gap-4"
    >
      <a
        href="/"
        class="text-3xl font-stretch-extra-expanded text-primary font-bold font-serif"
        >WaffleNotes</a
      >

      <span class="sm:ml-auto flex flex-row gap-4">
        <a href="/privacy-policy" class="font-mono text-xs font-light"
          >Privacy Policy</a
        >
        <a href="/terms-of-service" class="font-mono text-xs font-light"
          >Terms of Service</a
        >
        <a href="/contact" class="font-mono text-xs font-light">Contact</a>
      </span>
    </div>
  </div>
</footer>
